[Unit]
Description=Clever VPN LXC Controller
Documentation=https://github.com/clever-vpn/clever-vpn-lxc
After=snap.lxd.daemon.service
Requires=snap.lxd.daemon.service

[Service]
User=root
Type=simple
WorkingDirectory=/opt/clever-vpn-lxc
ExecStart=/opt/clever-vpn-lxc/clever-vpn-lxc
Restart=always
RestartSec=5s

Environment=LXD_SOCKET=/var/snap/lxd/common/lxd/unix.socket
Environment=PORT=8080
Environment=LXC_BASE_IMAGE=clever-vpn-base
Environment=LXC_NETWORK=vpnbr0
Environment=LXC_NAME_PREFIX=user-

[Install]
WantedBy=multi-user.target
